html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font: 14px "Courier New", "Acrom", "Helvetica", Arial, sans-serif;
  font-weight: 400;
  color: #2a3c4e;
  overflow-x: hidden;
}
#header {
  background-color: #313949;
  width: 100%;
}
#header .header {
  padding: 0.5% 5%;
}
#header .header button {
  background-color: transparent;
  color: white;
  opacity: 0.8;
  margin-top: 9px;
}
#header .header button:hover {
  opacity: 1;
}
#header .header .col-sm-9 {
  vertical-align: middle;
  padding-bottom: 0;
}
#header .header .col-sm-9 ul li:nth-child(1) a {
  padding-left: 0 ;
}
#header .header .nav-link {
  font-size: 120%;
  color: white;
  padding: 0.5rem 2rem;
  opacity: 0.8;
}
#header .header .nav-link:hover {
  opacity: 1;
}
#header .subheader {
  padding: 5px 0;
  background-color: #dedede;
}
#header .subheader .form-inline {
  width: 200px !important;
  clear: both;
}
#header .subheader .form-inline .container-1 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
#header .subheader .form-inline .container-1 input#search {
  width: 300px;
  height: 40px;
  background: #dedede;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
#header .subheader .form-inline .container-1 input#search::-webkit-input-placeholder {
  color: #65737e;
}
#header .subheader .form-inline .container-1 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
}
#header .subheader .form-inline .container-1 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}
#header .subheader .form-inline .container-1 input#search:-ms-input-placeholder {
  color: #65737e;
}
#header .subheader .form-inline .container-1 input#search:hover,
#header .subheader .form-inline .container-1 input#search:focus,
#header .subheader .form-inline .container-1 input#search:active {
  outline: none;
  background: #ffffff;
}
#header .subheader .form-inline .container-1 .icon {
  position: absolute;
  margin-left: 17px;
  margin-top: 11px;
  z-index: 1;
  color: #4f5b66;
}
#card .information {
  margin-top: 10px;
}
#card .information h1 {
  font-size: 1.5rem;
  font-weight: 900;
}
#card .information .row .col-sm-6:last-child .row {
  float: right;
}
#card .information .row .row {
  margin-top: 3%;
  border-bottom: 2px solid #f4f3f3 !important;
  padding-bottom: 5px;
  width: 100%;
}
#card .information .row .row .label {
  font-size: 1rem;
}
#card .information .row .row .parentsInfo::-webkit-scrollbar {
  width: 9px;
}
#card .information .row .row .parentsInfo::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 5px;
}
#card .information .row .row .parentsInfo::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 5px;
}
#card .information .row .row .parentsInfo::-webkit-scrollbar-corner {
  background-color: transparent;
}
#card .student-info {
  margin-top: 30px;
}
#card .student-info span.name {
  font-size: 3rem;
}
#card .student-info input.name {
  font-size: 40px;
  font-weight: 800;
  border: none;
  border-bottom: 1.5px solid #f4f3f3;
  border-radius: 0;
  width: 85%;
}
#card .student-info .studing {
  margin-left: 15px;
  font-size: 20px;
}
#card .main-info {
  font-size: 20px;
  padding: 17px 0;
}
#card .main-info div {
  margin-bottom: 10px;
}
#card .main-info input {
  width: 30%;
}
#card .label {
  font-weight: 800;
  margin-right: 50px;
}
#card button {
  margin-top: 25px;
  margin-bottom: 25px;
  float: right;
}
#card button.btn-danger {
  margin-right: 10px;
}
.left-panel .left-cathedra-name {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 800;
}
.left-panel .left-form {
  font-size: 1rem;
  margin-top: 3%;
  font-weight: 600;
}
#back-top {
  position: fixed;
  bottom: 30px;
  right: 50px;
}
#back-top a {
  width: 108px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #737373;
  font-weight: bold;
  /* замедление */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#cards {
  width: 100%;
  margin-top: 40px;
}
#cards .course {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1%;
}
#cards .group {
  font-size: 1.3rem;
}
#cards .count {
  float: right;
  color: #919191;
  font-size: 1.3rem;
}
#cards table {
  text-align: center;
  margin-top: 1%;
}
#cards table thead {
  background-color: #f4f3f37d;
  font-weight: 900;
}
#cards table thead th {
  text-align: center;
}
#cards table thead th a {
  color: #313949;
  opacity: 0.8;
  text-decoration: none;
}
#cards table thead th a:hover {
  opacity: 1;
  text-decoration: none;
}
#login {
  background-image: url("../src/CHNU-vzimku-1024x561.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
#login .login-container {
  width: 350px;
  margin: auto;
  margin-top: 6%;
  background-color: #f5f5f5;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  opacity: 0.9;
  box-shadow: 3px 1px 10px 2px rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  text-align: center;
}
#login .login-container .title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 4%;
}
#login .login-container input {
  margin-bottom: 10px;
}
#login .login-container button:hover {
  background-color: #7b96b6;
  transition: 8ms;
}
#login .login-container a {
  color: #313949;
  opacity: 0.8;
}
#login .login-container a:hover {
  opacity: 1;
  text-decoration: none;
}
#accessTable thead {
  background-color: #f4f3f37d;
}
#accessTable td {
  text-align: left !important;
}
#accessTable td input {
  border: none;
  background-color: transparent;
}
